.button {
  display: block;
  padding: 12px 24px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $primary;
  background-color: transparent;
  border: 1px solid $primary;
  transition: color 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86), background-color 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);

  @include tablet {
    font-size: 14px;
  }

  @include wide-tablet {
    padding: 15px 25px;
    font-size: 16px;
  }

  &:hover,
  &:focus {
    color: $white;
    background-color: $primary;
    outline: none;
  }

  &--white {
    color: $white;
    border-color: $white;
    background-color: transparentize($white, 0.8);

    &:hover,
    &:focus {
      background-color: $white;
      color: $black;
    }
  }

  &--black {
    color: $black;
    border-color: $black;
    background-color: $white;

    &:hover,
    &:focus {
      background-color: $black;
      color: $white;
    }
  }

  &--gray {
    color: $gray;
    border-color: $gray;
    background-color: $white;

    &:hover,
    &:focus {
      background-color: $gray;
      color: $white;
    }
  }
}