// TODO: DEV PREVIEW STYLES! delete before deploy

.fake-header,
.fake-footer {

  & picture {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  & img {
    flex-shrink: 0;
    width: auto;
  }
}

.fake-slider {
  display: flex;
  justify-content: space-between;
}

.fake-slider div:nth-child(3),
.fake-slider div:nth-child(4) {
  display: none;

  @include tablet {
    display: block;
  }
}